  <h1>Help!?</h1>

  <h2>
    What to do:
  </h2>
  
  	
  <p> Create an account using the big button on the home page. Try not to lose your password as password recovery is on the TODO list....</p>
  <p> Create a Campaign (the home page will have a link to your dashboard if you are logged in)</p>
  <p> Create a warband (click the join link for the campaign on your dash)</p>
  <p> Join someone elses campaign in the same way (validating/inviting users is on the TODO list)</p>
  <p> Your warband will appear on the campaign detail screen (click the campaign name)</p>
  <p> Click the warband's name to view it in detail, where you will be able to/can edit/delete/update progress on this campaign</p>

  <h2> What do do when you inevitably find a bug</h2>
  <p> Check the TODO list first, because if it's on there it's more of an improvement than a bug. Should your search prove fruitless...</p>
  <p> Tell me on whatsapp or facebook. I'll add another contact method here when we expand our beta testing</p>
  <p> Try and include as much detail on what you were doing and how you broke it, if I can't recreate it, it didn't happen (and is therefore a feature)</p>

  <h2>TODO List in order of importance</h2>
  <ul>
  	<li>Edit/Delete warbands</li>
  	<li>Proper fields for warbands</li>
  	<li>Validate warband input</li>
  	<li>Things like spells and henchmen should be available in the database as dropdowns when creating.</li>
  	<li>Warband detail view visuals</li>
  	<li>Campaign detail view visuals</li>
  	<li>Closed campaign entry and validate user for edit/delete warband/campaign (ie you have to be the creator of it to edit it)</li>
  	<li>+++ At this point, we can go into a beta test +++</li>
  	<li>Confirm Osprey won't sue me for this</li>
  	<li>Optimise responsive/mobile, ideally the site would be really smooth and user friendly on mobile for game night updates</li>
  	<li>Make it look less bad/proper design etc.</li>
  </ul>
</div>
