  <h1>Help!?</h1>

  <h2>
    What to do:
  </h2>
  
  	
  <p> Create an account using the big button on the home page. Try not to lose your password as password recovery is on the TODO list....</p>
  <p> Create a Campaign (the home page will have a link to your dashboard if you are logged in)</p>
  <p> Create a warband (click the join link for the campaign on your dash)</p>
  <p> Join someone elses campaign in the same way (validating/inviting users is on the TODO list)</p>
  <p> Your warband will appear on the campaign detail screen (click the campaign name)</p>
  <p> Click the warband's name to view it in detail, where you will be able to/can edit/delete/update progress on this campaign</p>

  <h2> What do do when you inevitably find a bug</h2>
  <p> Check the TODO list first, because if it's on there it's more of an improvement than a bug. Should your search prove fruitless...</p>
  <p> Tell me on whatsapp or facebook. I'll add another contact method here when we expand our beta testing</p>
  <p> Try and include as much detail on what you were doing and how you broke it, if I can't recreate it, it didn't happen (and is therefore a feature)</p>

  <h2>TODO List in order of importance</h2>
  <ul>
  	<li> Warband stuff: <ul>
      <li> Add spells and spell selection </li>
      <li> Add items in stash </li>
      <li> gold, xp totals </li>
      <li> Validate COST on creation </li>
    </ul></li>
    <li>You can currenty edit warbands but must re-enter soldiers correctly. Improve this. Idea to do more 'controlled' form of update along with a detailed update. So you can do a detailed update to correct creation mistakes, or a 'game night' update where you only update [gold earned] [xp earned] [level up options] [items buy/sell/equip/stash] [death/injury] </li>
  	<li>Warband detail view visuals, Soldiers done.</li>
  	<li>Campaign detail view visuals and better edit/create.</li>
  	<li>Closed campaign entry and validate user for edit/delete warband/campaign (ie you have to be the creator of it to edit it). This is sort of in progress and the reason that deleting the warband errors.</li>
  	<li>+++ At this point, we can go into a beta test +++</li>
  	<li>Confirm Osprey won't sue me for this</li>
  	<li>Optimise responsive/mobile, ideally the site would be really smooth and user friendly on mobile for game night updates</li>
  	<li>Make it look less bad/proper design etc.</li>
  </ul>
</div>
