<!DOCTYPE html>
<html>
  <head>
    <title>Home | Witch House Software</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      New user?
    </p>
    <%= link_to 'Create account', new_user_path(@user) %> 
    
  </body>
</html>