<div class="center jumbotron">
  <h1>My campaigns</h1>

  <h2>
    campaigns management app
  </h2>

  <%= link_to 'Create campaigns', create_campaigns_path, class: "btn btn-lg btn-primary" %>
</div>

<h2>My current campaigns</h2>

<% campaigns_for_user(current_user).each do |campaigns|%>
<h1>
  <%= campaigns.name %>
</h1>


<p>
  <strong>Description:</strong>
  <%= campaigns.description %>
</p>
<% end %>

