<li id="tournament-<%= tournament_participant.id %>">
  

  <p><%= link_to Tournament.find(tournament_participant.tournament_id).name, Tournament.find(tournament_participant.tournament_id) %></p>


</li>