<p id="notice"><%= notice %></p>

<h1>
  <%= @campaigns.name %>
</h1>

<div>
<p>

  <%= @campaigns.description %>
</p>

<%= link_to "Join this Campaign", create_frost_grave_participants_path, class: "btn btn-lg btn-primary" %>
</div>
