@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 60px;
  background-color: #313d4b;
  font: sans-serif;
}

#responsive_drop{
  float: right;
  margin-right: 10px;
  height: 100%;
  width: 45px;
  margin-top: 10px;
}

#content{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
}

#content-dark{
  margin-top: 5px;
  margin-bottom: 5px;
}

#soldier-content{
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 5px;
}

#spell-box{
  margin-bottom: 10px;
  border-bottom-color: #bbb; 
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#cast-box-green{
  text-align: center;
  background-color: #bedeb9;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
    border-style: solid;
  border-color: #fff;
  border-width: 5px;
  width: 61px;
}

#add-box{
  text-align: center;
  p{
    text-align: center;
  }
}

#cast-box-blue{
  width: 61px;
  text-align: center;
  background-color: #eef4f7;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
    border-style: solid;
  border-color: #fff;
  border-width: 5px;
}

#cast-box-orange{
  width: 61px;
  text-align: center;
  background-color: #ffd6b1;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
    border-style: solid;
  border-color: #fff;
  border-width: 5px;
}

#cast-box-red{
  width: 61px;
  text-align: center;
  background-color: #ffc1b9;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
    border-style: solid;
  border-color: #fff;
  border-width: 5px;
}

#stat-box{
  text-align: center;
  background-color: #eef4f7;
  border-radius: 10px;
  padding: 5px;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  width: 61px;
}

#stat-row{
  margin-left: 10px;
}

#soldier-buttons{
  margin: 5px;
}

#soldier-danger{
  border-radius: 10px;
  background-color: #ffc1b9;
}

#floater{
  float: right;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;

}

#header-l{
  text-align: center;
  margin-bottom: 10px;
  font-size: 3em;
  letter-spacing: -2px;
  color: #fff;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;

}
.c_label {
  color: #aacad9;
  font-size: 0.8em;
  margin-bottom: 0px;
}
.output {
  color: #506270;
  font-size: 1.2em;
  margin-bottom: 0px;
}

.output-dark {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 0px;
}


table {
  width: 100%;
  margin-bottom: 20px;
  tbody {
    table-striped{
      tr {
        border-color: #000;
        border-width: 1px;
      }
    }
  }
}

td {
  padding: 5px;
}

th {
  padding: 5px;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

#icon_bar_c{
  color: #fff;
}

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 15px;
}

.large-gravatar{
  height: 120%;
  width: 120%;
  border-radius: 20px;
}

.gravatar_edit {
  margin-top: 15px;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.apprentice_checkbox {
  margin: 10px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.campaigns {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {

    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

#selectable_spell {
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: #888;
  border-style: solid;
}

#home_button {
  margin-top: 10px;
  margin-bottom: 10px;
}
