<li id="frost_grave_participant-<%= frost_grave_participant.id %>">
  
  
  <p>Belongs to campaign: <%= link_to frost_grave_participant.campaign.name, frost_grave_participant.campaign %></p>
  <p>Name: <%= link_to frost_grave_participant.name, frost_grave_participant %></p>
  

</li>